.navbar {
    position: relative;
    height: 100vh;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(47, 53, 66);
    box-shadow: 2px 2px 5px 0px black;
}

.icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    left: 0;
    transition: left 0.5s;
}

.icon_wrapper img {
    z-index: 1;
    stroke: orange;
}

.icon_wrapper div {
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: linear-gradient(red, darkred);
    border-radius: 50px;
    box-sizing: content-box;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4) inset;

    transition: width 0.5s, height 0.5s;
}

.active {
    left: 9px;
}

.active div {
    width: 55px;
    height: 55px;
    border: 10px solid rgb(47, 53, 66);
}