.imageCarousel {
    width: 500px;
    height: 290px;

    display: flex;

    overflow: hidden;
}

.imageCarousel img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;

    position: relative;
    transition: left 2s;
}

.container {
    width: 500px;
    height: 290px;

    z-index: 1;

    position: absolute;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.container button {
    border: 0;

    width: 20px;
    height: 20px;

    background-color: red;

    margin-right: 10px;
    margin-bottom: 10px;
}