* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --contentSpacing: 25px;

  --navbarWidth: 50px;
  --navbarColor: #50577A;

  --contentContainerColor: #474E68;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: flex-start;
}