.app {
    width: 100%;
    height: 100%;
    background-color: #404258;
    padding-top: var(--contentSpacing);
    overflow: scroll;
    overflow-x: hidden;
}

.header {
    height: 100px;
}

.contentContainer {
    width: calc(100% - 2*var(--contentSpacing));
    background-color: var(--contentContainerColor);
    margin: auto;
    margin-bottom: var(--contentSpacing);
}

.contentDisplay {
    height: 400px;
}