.imageCollection {
    position: relative;
}

.imageCollection img {
    position: absolute;

    object-fit: cover;

    border: 2px solid rgb(255, 255, 255);

    transition: transform 1s, bottom 1s;
}